@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --line-color: #e5e7eb;
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
}

.borderBlack {
  @apply border border-black/10;
}

.textBox{
  /*background: rgba(229, 231, 235, 0.8);*/
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  display: inline-flex;
  flex-direction: column;
  align-items: start;

}

@keyframes slide-up {
  0%, 10%{
    transform: translateY(0%);
  }
  15%, 25%{
    transform: translateY(-100%);
  }
  30%, 40%{
    transform: translateY(-200%);
  }

}

.textBox span {
  animation: slide-up 12s infinite;
  white-space: nowrap;
}



.vertical-timeline-element-content .vertical-timeline-element-date{
  padding-inline: 1rem !important;
}
